<?xml version="1.0"?>
<configuration>
  
  <appSettings>
    <add key="Accounts.Value" value="Local Machine"/>
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
